body {
  background-color: #494949;
  text-align: center;
  list-style-position: outside;
  margin: 0 auto;
  width: fit-content;
  text-align: left;
}

h2 {
  color: rgb(235, 160, 0);
  font-style: italic;
}

li {
  color: rgb(255, 255, 255);
  padding-top: 10px;
  font-size: 20px;
}

.titles {
  color: beige;
}

.number {
  color: rgb(91, 217, 255);
  font-size: 18px;
}

.name {
  color: aqua;
  padding-left: 14px;
  font-size: 18px;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification.add {
  color: rgb(26, 160, 37);
}

.notification.delete {
  color: rgb(228, 28, 28);
}